services:
  server:
    image: server:0.0.1-SNAPSHOT
    container_name: server
    depends_on:
      postgres:
        condition: service_healthy

  postgres:
    image: postgres:17
    container_name: postgres
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: spring_demo
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d spring_demo"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
