spring:
  application:
    name: web-service
  jpa:
    hibernate:
      ddl-auto: create-drop
    properties:
      hibernate:
        format_sql: true
  datasource:
    url: jdbc:postgresql://postgres:5432/spring_demo
    username: user
    password: password
    driver-class-name: org.postgresql.Driver
